In [1]:
from datashop import *
import plotly

In [2]:
df1 = pd.read_csv('data/nyt_articles.csv')
df1.columns

Index(['Unnamed: 0', 'id', 'date', 'abstract', 'doc_type', 'main_headline',
       'print_headline', 'keywords', 'newsdesk', 'url'],
      dtype='object')

In [3]:
df1 = pd.read_csv('nyt_api/nyt_articles.csv')
df1['dicts'] = df['keywords'].apply(lambda x: eval(x))
df1['dict_lens'] = df['dicts'].apply(len)
def extractRow(row):
    list = row['dicts']

    for num,item in enumerate(list):
        row[str(num) + '_type'] = item['name']
        row[str(num) + '_keyword'] = item['value']

    return row
#df1 = df1.apply(extractRow,axis=1)
#df1.to_csv('nyt_api/nyt_with_keywords.csv')
print(df1.columns)
df = pd.read_csv('nyt_api/nyt_with_keywords.csv')

Index(['Unnamed: 0', 'id', 'date', 'abstract', 'doc_type', 'main_headline',
       'print_headline', 'keywords', 'newsdesk'],
      dtype='object')

In [4]:
df['date_col'] = df['date'].str.slice(stop=10)
df['date_col']=pd.to_datetime(
            df['date_col'],
            format = '%Y-%m-%d'
        )
df.set_index(
            df['date_col'],drop=True,inplace=True)

In [5]:
df.sort_index(inplace=True)
df.drop('date_col',axis=1,inplace=True)
display(df[['date','main_headline']].head())

,date,main_headline
date_col,,
2000-01-01,2000-01-01T05:00:00+0000,SCHLUMBERGER COMPLETES SPINOFF OF OFFSHORE OIL...
2000-01-04,2000-01-04T05:00:00+0000,From the Pipeline To the Courtroom; Gap on BP ...
2000-01-08,2000-01-08T05:00:00+0000,The Greening of Corporate America
2000-01-08,2000-01-08T05:00:00+0000,THE MARKETS: COMMODITIES
2000-01-09,2000-01-09T05:00:00+0000,Defanging the Great Inflationary Forces

In [ ]:
import sqlite3

conn = sqlite3.connect('data/energydash.db')

df.to_sql("news",conn, if_exists='replace')

In [6]:
df['date'].head()

date_col
2000-01-01    2000-01-01T05:00:00+0000
2000-01-04    2000-01-04T05:00:00+0000
2000-01-08    2000-01-08T05:00:00+0000
2000-01-08    2000-01-08T05:00:00+0000
2000-01-09    2000-01-09T05:00:00+0000
Name: date, dtype: object

In [10]:
display(df['0_keyword'].value_counts()

Oil (Petroleum) and Gasoline    1132
BP Plc                           667
Iraq                             599
Russia                           510
Venezuela                        177
                                ...
Tucson (Ariz)                      1
Caracas (Venezuela)                1
Dobbs Ferry (NY)                   1
Wilderness Areas                   1
ECONOMIDES, MICHAEL J              1
Name: 0_keyword, Length: 1867, dtype: int64

In [ ]:
rank0_counts = df['0_keyword'].value_counts()

rank0 = rank0_counts.index[0]

df_rank0 = df[df['0_keyword'] == rank0]

df_rank0_rank1 = df_rank0['1_keyword'].value_counts()

df_rank0_rank1.head(30).plot(kind='barh',figsize=(10,15))

df['dicts'] = df['']